.brands {
  min-height: 200px;
  color:#313437;
  background-color:#fff;
}

.brands a {
  text-align:center;
  padding:70px 0;
}

@media (max-width:767px) {
  .brands a {
    padding:60px 0;
  }
}

.brands a img {
  display:inline-block;
  margin:70px 20px;
  vertical-align:middle;
}

